/*CSS document*/

body {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #23326C;
	background-color: rgb(245, 240, 240);
    margin: 2em;
}

h1 {
    width: 3em;
}

div.container {
    max-width: 80em;
    margin: 0 auto;
}

div.imgcontainer {
    background-color: #fafafa;
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}

section{
    max-width: 40em;
    margin:0 auto 3em;
}

figure {
    margin: auto;
}

aside figure {
    width: 70%;
    margin: 3em 0 0;
}

img {
    width: 100%;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

header img {
    max-width: 4em;
}

nav ul li {
	display: inline;
    font-family: "gyst-variable", sans-serif;
    font-size: 1.15em;
    font-variation-settings: "wght" 300;
    margin-left: 1em;
	}

nav ul li a {
    color: #D74747;
}

div.gallery-container {
    display: grid;
    grid-template-columns: 6fr 2fr 1fr;
    max-width: 45em;
    margin: auto;
}

main.photo-gallery {
    grid-column: 1/3;
    position: relative;
    overflow: hidden;
}

main.photo-gallery figure {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    width: calc(100% - 2em);
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8) {
    opacity: 1;
}

nav.photo-gallery {
    display: grid;
    grid-column: 1/3;
}

input[type="radio"] {
    display: none;
}

section.personal-info ul, section.preference ul {
    display:flex;
    flex-wrap: wrap;
}

section.personal-info ul li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    align-items: center;
}

section.personal-info ul li, section.preference ul li {
    flex: 1 0 15em;
}

section.personal-info ul li label {
    flex: 0 0 3em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="text"],
section ul li input[type="email"] {
    flex: 4 0 10em;
    box-sizing: border-box;
    margin-right: 1em;
    padding: .4em;
}

form h2 {
    color: #D74747;
}

form h4 {
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #23326C;
}

button {
    color: #D74747;
    padding: 1em;
    border-color: #D74747;
}

h2 {
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 400;
    color: #23326C;
}

h3 {
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-style: italic;
    color: #23326C;
}

figcaption {
    font-family: articulat-cf, sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #23326C;
}

p {
    color: #23326C;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 60em){
    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }
    header {
        grid-column:1/3;
    }
  
    main.index {
        grid-column:1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 1em;
    }
    
    section.modernstyle {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }
    
    section.modernstyle a {
        flex: 1 0 10em;
        display: flex;
        flex-direction: column;
    }
    
    section.modernstyle a figure {
        flex: 1 0 10em;
    }
    
    section.modernstyle a figure img{
        height: 95%;
        object-fit: cover;       
    }
    
    section.modernstyle a h3 {
        flex: 0 0 auto;
        margin: 0;
    }   
  
    section.modernstyle a p {
        flex: 0 0 auto;
    }   
    
    
    aside {
        grid-column:2/3;
    }

    footer {
        grid-column: 1/3;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body{
        background-color: #333;
        color: #eee;
    }

    h1 {
        background-image: url(logo-dark-mode.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    h1 img {
        opacity: 0;
    }

    nav ul li {
        font-variation-settings: "wght" 500;
    }

    h2 {
        color: #FBF1DA;
    }

    h3{
        color: #FBF1DA;
    }

    form h4 {
        color: #FBF1DA;
    }

    p {
        color: #FBF1DA;
    }
}
    

