/*CSS document*/

body {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
	background-color: rgb(245, 240, 240);
}

div.container {
    max-width: 80em;
    margin: 0 auto;
}

section{
    max-width: 40em;
    margin:0 auto 3em;
}

figure {
    margin: auto;
}

aside figure {
    width: 70%;
    margin: 3em 0 0;
}

img {
    width: 100%;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

nav ul li {
	display: inline;
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 300;
    margin-left: 2em;
	}

nav ul li a {
    color: #D74747;
}



@media screen and (min-width: 60em){
    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }
    header {
        grid-column:1/3;
    }
  
    main {
        grid-column:1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 1em;
    }
    
    section.modernstyle {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }
    
    section.modernstyle a {
        flex: 1 0 10em;
        display: flex;
        flex-direction: column;
    }
    
    section.modernstyle a figure {
        flex: 1 0 10em;
    }
    
    section.modernstyle a figure img{
        height: 95%;
        object-fit: cover;       
    }
    
    section.modernstyle a h3 {
        flex: 0 0 auto;
        margin: 0;
    }   
  
    section.modernstyle a p {
        flex: 0 0 auto;
    }   
    
    
    aside {
        grid-column:2/3;
    }
}
    
h2 {
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 400;
    color: #23326C;
}

h3 {
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-style: italic;
    color: #23326C;
}

figcaption {
    font-family: articulat-cf, sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #23326C;
}

p {
    color: #23326C;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
